body{font:0.8em Arial, Helvetica, sans-serif;line-height:1.4em;color:#444;background:#fff;}

/* ={ GENERIC } */
	.wrapper{width:980px;margin:0 auto;}
	.flow_hide {width:100%;display:block;overflow:hidden}
	.separator {padding-bottom:5px;margin-bottom:15px;border:none;border-bottom:1px dashed #b2b2b2;display:block;}

	p { margin: 0 0 1em }
	a{color:#9abd57;text-decoration:none;}
	a:hover{text-decoration:underline;}
	img {max-width:100%}

	/* Generic post classes */
	.featuredpost {margin:0 0 1em;overflow:hidden;}
	.featuredpost p{margin:0 0 0.3em;}

	/* Post titles */
	.posttitle{font:normal 1.4em 'Oswald', arial, sans-serif;line-height:1.4em;color:#666;margin:0.2em 0 0.3em;letter-spacing: 0.03em;}
	.posttitle a {color:#666;}
	.posttitle a:hover{text-decoration:underline;color:#9abd57}
	.s_title {font-size:1.2em;letter-spacing: 0.02em;}
	.list_title{font:normal 0.9em Arial, sans-serif;line-height:1.5em;list-style:none;background:url(green/ico/arrow-widget.png) no-repeat left 7px;padding-left:14px;}
	
	/* Post Meta */
	.postmeta {font-style:italic;font-size:0.7em;text-align:right;margin-top:0.4em;clear:both;display:block;}
	.postmeta a{}
	.postmeta a:hover {text-decoration:underline;}

	/* Category Captions */
	.catname {display:block;color:#333;font: 1.3em "Oswald",Helvetica,Arial,Sans-serif;line-height:1.5em;margin-bottom:0.4em;padding-bottom:0.4em;border-bottom:1px dashed #cccabb}
	.catname a {color:#333;text-transform:uppercase}
	.catname span.firstrow a {color:#9abd57;font-family: 'Oleo Script', georgia, serif;display:block;text-align:center;font-size:1.7em;}
	.catname span.secondrow a {color:#333;font: 1.7em "Oswald",Helvetica,Arial,Sans-serif;display:block;text-align:center;}
	.catname a:hover {text-decoration:none;color:#222}
	.subcaption {color:#9abd57;font:italic 0.8em 'Droid Serif', georgia, serif;display:block;margin-bottom:0.9em}

	/* Big category name and description displayed on archive pages */
	.categoryhead {display:block;margin-bottom:20px;border-bottom:1px dashed #b2b2b2}
	.categoryname {display:block;text-align:center;font: 3em 'Oswald',arial,sans-serif;line-height:2em;margin:0;padding:0;color:#000;text-transform:uppercase;}
	.categoryhead p {font:normal 1.3em 'Oswald', arial, sans-serif;line-height:1.4em;color:#000;text-align:center;text-transform: uppercase;}
	
	/* Image classes - addition to styles imported from style.css */
	.alignleft,.alignright,.alignnone,.aligncenter {line-height:0;display:block;margin-top:0.3em}
	.alignnone,.aligncenter {margin:0 0 1em}

	/* widget styles */
	.widget {background:#fff;border:1px solid #ddd;margin-bottom:15px;display:block;}
	.widget .widgetinner {padding:5px 5px 2px;}
	.widget .widgetinner.adwidget {padding-bottom:5px;}
	.widgettitle{font:normal 1.2em 'Oswald', arial, sans-serif;line-height:1.3em;margin:-4px 0 15px -4px;display:block;color: #fff;background:url(green/bg-widgettitle.png) no-repeat left top;width:147px;min-height:27px;padding:6px 0 0 15px;overflow:hidden;}
	.widgettitle a {color:#fff}
	.widget ul li {border:none !important;line-height:18px;list-style:none;background:url(green/ico/arrow-widget.png) no-repeat left 7px;padding-left:14px;}
	.widget ul li.lastitem {border-bottom:none;padding-bottom:0;margin-bottom:0;}
	
	/*----- [[ Adjust pre defined widget styles. These widgets are defined in style.css ]] -----*/
	/* author badge widget */
	.gab_authorbadge .author_social {font-size:0.9em}
	.gab_authorbadge {background:#fff;border:1px solid #eee;}
	
	/* Flickr Widget */
	.flickr_widget {padding-bottom:12px}
	.flickr_widget img{margin:7px;}
	
	/* Gabfire Ajax Tabs */
	.gab_tabs {border:none}
	.gab_tabs .widgettitle{margin:0 0 15px}
	.gab_tabs .widgetinner {padding:0;}
	.gab_tabs ul {padding-top:10px}
	.gab_tabs ul li {background:none;padding-left:10px;}

	/* Video Query Widget */
	.gab_video_widget {border:none}
	.gab_video_widget .widgettitle {margin:0 0 10px;background:none;padding:0;font-size:1.3em;letter-spacing: 0.2px;color:#222}
	.gab_video_widget .widgetinner {padding:0;}		
	
	/* Search, share and social widgets */
	form.gab_search_style1,.gab_share_widget,.gab_social_widget {padding:0 0 12px;}
	
	/* Feedburner and About widget */
	.feedburner_widget,.about_widget {padding:0 0 7px;}	
	
	/* custom query widget */
	.gab_custom_widget {padding-bottom:10px}

	.aligncenter.wp-caption{margin:0 auto !important;}
	
/* ={ HEADER } */
#header{display:block;overflow:hidden;padding-top:0.7em}
	.headerad728 {width:auto;float:left}
	.headerad234 {width:auto;float:right}

	/* single image header */
	#header_banner{display:block;line-height:0;width:100%;} /* If single-banner header is activated on theme control panel */

	/*header with logo and banner*/
	#header .banner {padding-top:1em}

	/* Text logo */
	#header h1 {font: bold 36px georgia,'times new roman',times,serif;line-height:40px;color:#222;}
	#header h1 span a {display:block;color:#222;font:15px arial, sans-serif;padding-left:10px}

	/* ad - logo - ad header */
	.col-3col {width:280px;display:block;margin:10px 0}
	.col-3col img {margin:0;border:none;display:block;}
	.col-3col.right img {float:right !important}
	.mid-3col {width:340px;display:block;margin:0 30px;float:left;text-align:center}
	.mid-3col h1 {text-align:center;}
	.mid-3col h1 span a {padding-left:0 !important}
	.mid-3col img {display:block;margin:0 auto;line-height:0}

	/* Default header */
	.left-2col {width:auto;display:block;margin-right:15px;float:left}	
		
	.right-2col {width:auto;float:right}
		/*Header search box */
		.right-2col .searchform {margin:0;padding:0;border:none;}
		.right-2col fieldset { border: 0; position:relative;padding:0;}
		.right-2col form input#s { border: 1px solid #f2f2f2; color: #555; font:12px Arial, Tahoma, sans-serif;line-height:15px; width: 200px; background: url('./green/input-submit-focus.png') no-repeat 0 0; padding: 7px 0 7px 39px; }
		.right-2col form input#s:focus { background: url('./green/input-submit-focus.png') no-repeat 0 -31px; border-color: #3d3d3d; }
		.right-2col form input.submitsearch { text-indent: -999em; border: 0; position:absolute;left:11px;top:14px;width:16px;height:16px;}

/* ={ MAIN NAVIGATION } */
#mainmenu {display:block;background: url(green/bg-menu.png) repeat;}

	.mainnav {width:100%;display:block;background: url(green/bg-mainnav.png) no-repeat top right;}
	.mainnav:after{content:"";display:block;clear:both;}
	.mainnav li {position: relative;float: left;list-style: none;}
	.mainnav li a {padding: 10px 1em;color: #f6e1d3;line-height:14px}
	.mainnav li a:hover {color:#f6e1d3;text-decoration:underline;}
	.mainnav li.current_page_item a,.mainnav li.current-cat a,.mainnav li.current-menu-item a {color:#e8cebc;text-decoration:none;}

	/* submenu */
	.mainnav li ul  {border-bottom:1px solid #555;position:absolute;z-index:999;width:178px;}
	.mainnav li ul li  {float:none;border-left:none;margin:0;padding:0;}
	.mainnav li.current_page_item li a, .mainnav li.current-cat li a, .mainnav li.current-menu-item li a{background:#555; color:#f6e1d3;}
	.mainnav li ul li a{background:#444; color:#f6e1d3;text-transform:none; font-size:12px;width:158px; padding:5px 9px; height:auto; line-height:normal;margin:0; border:1px solid #555; border-bottom:0;}
	.mainnav li ul li.current_page_item a, .mainnav li ul li.current-cat a, .mainnav li ul li.current-menu-item a, .mainnav li ul li a:hover {background:#555;color:#f6e1d3;text-decoration:none}
	.mainnav li ul ul  {margin: -26px 0 0 178px;padding-top:0;}
	
	.belowmenu {display:block;height:0.3em;background: url(green/ico/below-menu.png) repeat-x;margin-bottom:10px}
	
	/* The second navigation that displays a list of most popular tags */
	.galleries_list {display:block;margin:0 auto 12px;max-width:980px;font:italic 13px 'Droid Serif', georgia, serif;overflow:hidden}
	.home  .galleries_list {margin:0 auto;}
		.galleries_list li {position:relative;color:#444;float:left}
		.galleries_list li.first {border-left:none;padding-left:0;margin-left:0;font-weight:bold;}
		.galleries_list a {color:#444;border-left:1px solid #eee;padding-left:10px;margin-left:10px;float:left;text-transform:capitalize;border-left: 3px double #EEEEEE;}
		.galleries_list a:hover{color:#000;text-decoration:underline;}
		.galleries_list li.current_page_item a, .galleries_list li.current-cat a, .galleries_list li.current-menu-item a {color:#000;font-weight:bold;}
		.galleries_list li ul {border-bottom:1px solid #ddd;position:absolute;z-index:999;width:180px;padding-top:6px;margin-left:-10px}
		.galleries_list li ul li {float:none;border-left:none;margin:0;padding:0;}
		.galleries_list li ul li a {background:#fff; text-transform:none;width:158px;padding:5px 9px; height:auto;margin:0; border:1px solid #ddd; border-bottom:0;color:#555;}
		.galleries_list li ul li a.sf-with-ul { padding:5px 10px;}
		.galleries_list li ul li a:hover {background:#efefef;color:#555;text-decoration:none}
		.galleries_list li ul ul {margin: -26px 0 0 179px;padding-top:0;}
		.galleries_list li ul ul ul {margin-top: -27px;}
		
/* ={ FEATURED SLIDER - LARGE} */
#featured_posts {display:block;height:367px;background:url(green/bg-featured.png) repeat center;padding:27px 0 20px;}	
	
	#featured_posts .wrapper {position:relative;}
	#featured-leftcol {width:660px;display:block;float:left;padding-bottom:14px;background: url(green/bg-wideshadow.png) no-repeat bottom center}
		#featured-slider {display:block;height:271px;border:1px solid #d0d0d0;background: url(green/bg-slidercontent.png) repeat-x;overflow:hidden}
		#featured-slider .item {width:628px;padding:15px;height:241px;}
		#featured-slider .item .slidemedia {display:block;width:332px;height:212px;float:left;padding:5px 29px 14px 6px;background:url(green/bg-featuredmedia.png) no-repeat}
		#featured-slider .slidetext {float:left;width:261px;color:#7b6d69;padding-top:10px}
		#featured-slider .slidetext h2.posttitle {font-size:1.3em;line-height:1.4em;margin:0 0 1em;}
		#featured-slider .slidetext h2.posttitle a {color:#424242}
		#featured-slider .slidetext p {color:#7b6d69}

		/* Navigation of featured slider */
		#nav {width:643px;margin-top:0.3em;height:76px;overflow:hidden;background:url(green/bg-menu.png) repeat;padding:12px 0 0 17px}
		#nav li {width:88px;float:left;margin-right:19px;}
		#nav li a img {border:0.3em solid #fff;display:block;}
		#nav li.activeSlide img,  #nav li a:hover img{border-color:#fff;}		
	
	#featured-rightcol {position:absolute;height:420px;width:333px;right:-12px;top:0;margin-top:-30px;background: url(green/bg-featured2.png) no-repeat}
		.featuredposts {padding:30px 40px 0 40px;text-align:center;font-family:'Droid Sans', Arial, Sans-Serif;}
		.featuredposts li{border-bottom:1px dashed #7b9d38;padding-bottom:10px;margin:0 -22px 10px;}
		.featuredposts li .subtitle {color:#040404;display:block;font-weight:bold;font-size:13px;display:block;padding-bottom:3px}
		.featuredposts li .posttitle {display:block;color:#fff;margin:0;padding:0.3em 20px;font-size:15px;line-height:15px;font-weight:normal;text-transform:uppercase;letter-spacing:0}
		.morebutton {font-weight:bold;display:block;width:120px;text-align:center;padding:10px 20px;border-radius: 6px;background:#637f2e;color:#f4f4f4;margin: 25px auto 0}
		.morebutton:hover {background:#7b9d38;text-decoration:none}

/* Homepage below featured slider left, mid and right columns */		
#homecontent {display:block;margin-top:-8px;background:url(green/bg-homecontent.png) repeat-y center center;}	
	#homecontent .wrapper {padding-top:40px;overflow:hidden;}
	#homecontent .alignleft, #homecontent .alignright, #homecontent .alignnone, #homecontent .aligncenter {border:3px solid #cccabb}
	#homecontent .alignnone, #homecontent .aligncenter {margin-bottom:7px}
	
	#homecontent .leftcol {width:225px;padding-right:12px;float:left}
		#homecontent .leftcol .postcontainer {margin-bottom:20px}
		
	#homecontent .midcol {width:487px;padding: 0 9px;float:left;padding-bottom:20px}
		#homecontent .midcol .mid-slogan {font:normal 17px 'Oswald', arial, sans-serif;line-height:28px;text-align:center;margin-bottom:20px;color:#666}
		#homecontent .midcol .featuredpost {border-bottom:1px dashed #b8b8b8;padding-bottom:10px}
		#homecontent .midcol .lastpost {border-bottom:none}
		
		#homecontent .midcol .colwrapper {margin-bottom:25px;overflow:hidden;border-bottom: 1px dashed #b8b8b8;padding-bottom:15px}
		#homecontent .midcol .posttitle {margin:3px 0 0.3em}
		#homecontent .midcol .alignleft {margin-bottom:0}
		#homecontent .midcol .homepagead {margin:-5px auto 0;display:block;width:468px;padding-bottom:20px}
		#homecontent .midcol .col {width:235px;display:block}

		#homecontent #bottom-slider {display:block;width:479px;height:265px;overflow:hidden;border:0.3em solid #cccabb;}
		#homecontent #bottom-slider .item {width:479px;height:265px;position:relative;}
		#homecontent #bottom-slider .slidetext {width:479px;color:#fff;padding:6px 10px;position:absolute;bottom:0px;left:0px;background: url(green/bg-transparent.png)}
		#homecontent #bottom-slider .slidetext h2.posttitle {font-size:19px;line-height:22px;}
		#homecontent #bottom-slider .slidetext h2.posttitle a {color:#fff}
		
		/* Navigation of featured slider */
		#bottom_nav {text-align:center;margin:10px 0 0 40%}
		#bottom_nav a {float:left;width:10px;margin:0 0 0 6px;text-indent:-999em;height:10px;background:url(green/bgr_slider_nav.png) no-repeat -17px 0;}
		#bottom_nav a.activeSlide {background-position: 0 0;}
		
	#homecontent .rightcol {width:225px;padding-left:13px;float:left}
		#homecontent .rightcol .postcontainer {margin-bottom:20px}

/* Footer navigation displayed on homepage above footer blocks */
#footernav {display:block;background: url(green/bg-menu.png) repeat;}

	.footernav {width:100%;display:block;background: url(green/bg-footernav.png) no-repeat top right;}
	.footernav:after{content:"";display:block;clear:both;}
	.footernav li {position: relative;float: left;list-style: none;}
	.footernav li a {padding: 12px 25px;color: #f6e1d3;font:normal 16px 'Oswald', arial, sans-serif;line-height:20px;}
	.footernav li a:hover {color:#f6e1d3;text-decoration:underline;}
	.footernav li.current_page_item a,.footernav li.current-cat a,.footernav li.current-menu-item a {color:#e8cebc;text-decoration:none;}

	/* Submenu */
	.footernav li ul  {border-bottom:1px solid #555;position:absolute;z-index:999;width:190px;}
	.footernav li ul li  {float:none;border-left:none;margin:0;padding:0;}
	.footernav li.current_page_item li a, .footernav li.current-cat li a, .footernav li.current-menu-item li a{background:#555; color:#f6e1d3;}
	.footernav li ul li a{background:#444; color:#f6e1d3;text-transform:none; font-size:12px;width:158px; padding:5px 9px; height:auto; line-height:normal;margin:0; border:1px solid #555; border-bottom:0;}
	.footernav li ul li.current_page_item a, .footernav li ul li.current-cat a, .footernav li ul li.current-menu-item a, .footernav li ul li a:hover {background:#555;color:#f6e1d3;text-decoration:none}
	.footernav li ul ul  {margin: -29px 0 0 190px;padding-top:0;}
		
/* ={ FOOTER } */	
#footer {background: url(green/bg-footer.png) repeat;padding:30px 0;}
	#footer .wrapper {width:900px}
	
	/* Gabfire Ajax Tabs and custom query widget */
	#footer .widget {border:none}
	#footer .widgettitle {margin:0 0 10px;background:none;padding:0;font-size:1.3em;letter-spacing: 0.2px;}
	#footer .widgetinner {padding:0;}	
	
	.footer1 {float:left;width:210px;padding-right:10px}
	.footer1 .coverimg {display:block;}
	.footerinner {padding:15px 1em 1px;background:#fff;width:650px;float:left;color:#222;overflow:hidden}
	.footerinner a {color:#444}
	.footerinner .widgettitle{color:#222;margin-bottom:10px}
	.footerinner  .widget ul li {margin-bottom:0.3em;padding-bottom:3px}
		.footer2 {width:215px;float:left;padding-right:9px;border-right:1px solid #efefef;margin-right:10px}
		.footer3 {width:125px;float:left;padding-right:9px;border-right:1px solid #efefef;margin-right:10px}
		.footer4 {width:125px;float:left;padding-right:9px;border-right:1px solid #efefef;margin-right:10px}
		.footer5 {width:125px;float:left}
	
/* ={ FOOTER META } */	
#footer_data {width:100%;overflow:hidden;background:#2d2d2d;}
	#footer_data .wrapper {font-size:13px;color:#999;padding:15px 0;display:block;width:900px;overflow:hidden}
	#footer_data .wrapper a{color:#f6e1d3;}
	#footer_data .wrapper a:hover{text-decoration:underline;color:#f6e1d3;}

	#footer-left-side {width:auto;float:left;margin:0}
	#footer-right-side {width:auto;float:right;text-align:right;margin:0}	

/*----- ={ INNER PAGE LAYOUTS } -----*/
#container {display:block;overflow:visible;}

	#contentwrapper {overflow:hidden;} 
		#sidebar {float:right;width:312px;}
		
			/* Popular and Recent entries tabber navigation */
			#default_tabs {}
			#default_tabs .tabs {padding:0;margin:1px}
			#default_tabs .tabs li {display:block;float:left;margin:0;padding:0}
			#default_tabs .tabs a {top:0 !important;text-align:left;font-weight:normal;cursor:pointer;color:#55341d;font:normal 1.2em 'Oswald', arial, sans-serif !important;line-height:1.3em !important;}
			#default_tabs .tabs .current, #default_tabs  .tabs .current:hover, #default_tabs  .tabs li.current a {top:0 !important;color:#fff}
			#default_tabs .tabs li  a.popularnews,#default_tabs .tabs li  a.popularnews:hover{width:147px;height:27px;padding:6px 0 0 15px;margin:0;background:url(green/bg-act-popular.png) no-repeat left top !important}
			#default_tabs .tabs li  a.recentnews,#default_tabs .tabs li  a.recentnews:hover{width:120px;height:27px;padding:6px 0 0 21px;margin:0 0 0 -13px;background:url(green/bg-inact-recent.png) no-repeat left top !important}
			.panes div {padding:0 !important; /* reset the value that is inherit froms style.css */}
			#default_tabs .widgetinner {padding:10px 10px 1px !important; /*Give a new padding value but just for widgetinner class*/}
			#default_tabs .featuredpost {overflow:hidden;padding:0 10px 5px !important;border-bottom:1px solid #ddd !important;margin:0 -10px 5px}
			#default_tabs .featuredpost.lastpost {border-bottom:none !important;margin-bottom:0 !important}
			#default_tabs .featuredpost .alignleft {border:0.3em solid #cccabb;margin-top:6px}

		#content {width:640px;float:left;}

		/*----- ={ INNER PAGE SLIDER  } -----*/
		.bx-wrapper {margin: 0 0 25px;background: url(blue/bg-highlight.png);padding:10px;  -webkit-border-radius: 0.3em;border-radius: 0.3em;position:relative;*zoom: 1;}		
		.bx-wrapper img {max-width: 100%;display: block;}
		.bx-wrapper .bx-loading {min-height: 50px;background: url(blue/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
		.bx-wrapper .bx-viewport {}
		.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {	position: absolute;	bottom: -30px;width: 100%;}			
		/* DIRECTION CONTROLS (NEXT / PREV) */
		.bx-wrapper .bx-prev {left: 10px;background: url(blue/bg_direction_nav.png) no-repeat top left;opacity:0.6;}
		.bx-wrapper .bx-next {right: 10px;background: url(blue/bg_direction_nav.png) no-repeat top right;opacity:0.6;}
		.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover {opacity:1;}
		.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 39px;height: 50px;text-indent: -9999px;z-index: 9999;}
		.bx-wrapper .bx-controls-direction a.disabled {display: none;}
		/* IMAGE CAPTIONS */
		.bx-wrapper .bx-caption {position: absolute;bottom: 0;left: 0;background: #222;}
		.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .9em;padding: 10px;}
		
		.bxarchiveslider .bx-caption {display:none}
		.bx-wrapper .bx-archive-caption {position: absolute;bottom: 0;left: 0;background: url(blue/bg-transparent.png) repeat center !important;margin:0;padding:7px 10px 10px}
		.bx-wrapper .bx-archive-caption .postexcerpt {color: #fff;font-family: Arial;display: block; color: #fff;font-size: 14px;line-height: 18px}
		.bx-wrapper .bigslidertitle a {color: #fff;display: block;font: 1.6em/1.4em 'Oswald',arial,sans-serif;margin: 0.2em 0 0.3em;padding:0}
		
		/*----- ={ PAGE TEMPLATES } -----*/	
		/* 2 column archive page */
		#two-column .entry {width:310px;display:inline;}
		#two-column .aligncenter {padding:0;background:none;border:3px solid #cccabb;margin-bottom:10px}
		#two-column .entry .posttitle {font-size:17px;line-height:23px}

		/* 4 column archive page */
		#cols_4_archive {display:block;overflow:hidden;}
			#cols_4_archive .col {width:230px;margin:5px 20px 25px 0;float:left;}
			#cols_4_archive img {padding:4px;background:#fff;border:1px solid #ddd}
		
		/* Media category archive page */
		#gab_gallery .media-wrapper {float:left;width:310px;margin:5px 25px 20px 0;text-align:center;}
		#gab_gallery .entry {background:#fff;margin:0;overflow:visible;}
		#gab_gallery .alignnone {border:none;padding:0;display: table-cell;overflow:hidden;line-height:0;display:block}
		#gab_gallery .posttitle {display:block;text-align:center;font-size:18px;margin:0 0 7px;padding:0;border:0;}
		#fancybox-title-over {font-weight:bold;font-size:14px}
	
		/* default archive page */
		.loop-default {border-style:dotted;overflow:hidden;border-bottom:1px dashed #ccc;padding-bottom:15px;margin-bottom:25px !important}
		.loop-default.lastpost {margin-bottom:0 !important;padding-bottom:0 !important;border:none}
		.loop-default .aligncenter {padding:3px !important;background:#ddd7cd !important;border:none !important}
	
		/* Magazine style archive page */
		#magcontent {display:block;margin-top:-4px;background:url(green/bg-magcontent.png) repeat-y center center;}
			
			/* Duplicating image borders for inner page magazine layout as it looks on front page */
			#magcontent .alignleft, #magcontent .alignright, #magcontent .alignnone, #magcontent .aligncenter {border:3px solid #cccabb}
			
			/* Adusting widget styles to fit into magazine style layout */
			#magcontent .widget{margin-bottom:25px}
			#magcontent .widget,#magcontent .widgetinner{padding:0;border:none;}
			#magcontent .widgettitle {margin:0 0 0.4em;display:block;width:auto;color:#333;font: 1.3em "Oswald",Helvetica,Arial,Sans-serif;padding:0 0 0.4em;line-height:1.5em;border-bottom:1px dashed #cccabb;background:none}
			#magcontent .widgettitle a {color:#333;text-transform:uppercase}
			#magcontent .widgettitle a:hover {text-decoration:none;color:#222}
			#magcontent .gab_social_widget a {margin:2px 1px}
				
			/* The CSS rules for first 2 post aligned above all post on magazine style layout. */	
			#magcontent .bigpost {width:463px;padding:7px 7px 10px;background: url(green/bg-highlight.png);text-align:center}
				
				/* Just lets make sure that media has a class aligncenter and it displays no border */
				#magcontent .bigpost .aligncenter {display:block;margin-bottom:7px;line-height:0;border:none}
				
				/* The wrapper box for big posts has padding bottom value, thus we dont need extra margin created by p tag within wrapper. */
				#magcontent .bigpost p {color:#fff;margin-bottom:0}
				#magcontent .bigpost .posttitle a {color:#fff}
			
			/* Left column below 2 big posts on magazine style layout */
			#magcontent .leftcol {width:150px;padding:25px 12px 0 0;float:left}
				#magcontent .leftcol .postcontainer {margin-bottom:20px}
			
			/* Left column below 2 big posts on magazine style layout */
			#magcontent .midcol {width:487px;padding: 25px 9px 20px;float:left;}
				#magcontent .midcol .featuredpost {border-bottom:1px dashed #b8b8b8;padding-bottom:10px}
				#magcontent .midcol .lastpost {border-bottom:none}
				
				#magcontent .midcol .colwrapper {margin-bottom:25px;overflow:hidden;border-bottom: 1px dashed #b8b8b8;padding-bottom:15px}
				#magcontent .midcol .posttitle {margin:3px 0 0.3em}
				#magcontent .midcol .alignleft {margin-bottom:0}
				#magcontent .midcol .homepagead {margin:-5px auto 0;display:block;width:468px;padding-bottom:20px}
				
				/* Left and right small columns positioned on mid column */
				#magcontent .midcol .col {width:235px;display:block}

				/* bottom slider on mid column */
				#magcontent #bottom-slider {display:block;width:479px;height:265px;overflow:hidden;border:0.3em solid #cccabb;}
				#magcontent #bottom-slider .item {width:479px;height:265px;position:relative;}
				#magcontent #bottom-slider .slidetext {width:479px;color:#fff;padding:6px 10px;position:absolute;bottom:0px;left:0px;background: url(green/bg-transparent.png)}
				#magcontent #bottom-slider .slidetext h2.posttitle {font-size:19px;line-height:22px;}
				#magcontent #bottom-slider .slidetext h2.posttitle a {color:#fff}
				
				/* Navigation of bottom slider */
				#magcontent #bottom_nav {text-align:center;margin:10px 0 0 45%}
				#magcontent #bottom_nav a {float:left;width:10px;margin:0 0 0 6px;text-indent:-999em;height:10px;background:url(green/bgr_slider_nav.png) no-repeat -17px 0;}
				#magcontent #bottom_nav a.activeSlide {background-position: 0 0;}
			
			/* Sidebar of magazine style category template */
			#magcontent .rightcol {width:300px;padding:25px 0 0 13px;float:left}
				#magcontent .rightcol .postcontainer {margin-bottom:20px}		

				.previousentries {display:block;clear:both;padding:25px 0 0;margin:0; text-align:center;font-weight:bold}
				
	/* SINGLE AND STATIC PAGES */
	#col3page {overflow:hidden;float:left;width:645px} /* Wraps sidebar and content of single and static pages */
	
	#col3page .leftcol {width:150px;padding:5px 20px 0 0;float:left}
		/* Adusting widget styles to fit into magazine style layout */
		#col3page .leftcol .widget{margin-bottom:25px}
		#col3page .leftcol .widget,#col3page .leftcol  .widgetinner{padding:0;border:none;}
		#col3page .leftcol .widgettitle {margin:0 0 0.4em;display:block;width:auto;color:#333;font: bold 1.3em  Helvetica, Arial, Sans-serif;letter-spacing:-1px;padding:0 0 0.4em;border-bottom:1px dashed #cccabb;background:none}
		#col3page .leftcol .widgettitle a {color:#333;text-transform:uppercase}
		#col3page .leftcol .widgettitle a:hover {text-decoration:none;color:#222}
		#col3page .leftcol .gab_social_widget a {margin:2px 1px}
		#col3page .leftcol .gab_author_widget {background:url(green/bg_author.png) repeat;}
		#col3page .leftcol .gab_author_widget .widgettitle {display:none}

	#col3page .midcol {width:475px;padding: 0 0 20px;float:left;}
	
	/* SINGLE PAGE TYPOGRAPHY */
	.entry {margin-bottom:15px}

	.entry_title{display:block;margin:0 0 10px !important;font: 22px 'Oswald', arial, sans-serif;color:#666;line-height:24px;}
	.entry_title a{color:#5b5e5e}
	.entry_title a:hover{color:#9abd57;text-decoration:underline}
	
	/* Postmeta displayed on single post page, below entry */
	.entry .top_postmeta {font:12px arial,sans-serif;color:#777;display:block;overflow:hidden;padding-top:5px;margin-bottom:15px}
	.entry .top_postmeta a {font-family:Helvetica,Arial,sans-serif;color:#999;font-style:normal;text-decoration:none;}
	.entry .top_postmeta a:hover {color:#333}
	.entry .top_postmeta .metaitem {display:block;float:left;width:auto;margin-right:10px;padding:2px 10px 3px 18px;border-right:1px solid #ddd}
	.entry .top_postmeta .entrydate {background: url(green/ico/date.png) no-repeat left 3px}
	.entry .top_postmeta .entryby {background: url(green/ico/author.png) no-repeat left 3px}
	.entry .top_postmeta .entrycat {background: url(green/ico/category.png) no-repeat left 3px;padding-left:20px}
		
	.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { margin-bottom:10px;margin-top:10px;}
	.entry h3.widgettitle {margin-bottom:0;}
	.entry h3 {font-family:arial, verdana, sans-serif;}
	.entry h4 {font-family:verdana, tahoma, sans-serif;}
	.entry h5 {font-family:arial, verdana, sans-serif;}
	.entry h6 {font-family:arial, verdana, sans-serif;}
	
	.entry ul {margin: 0 0 1em 10px; padding-left: 20px;}
	.entry li {background:none;padding-left:0;line-height:22px}
	.entry ul ul { margin: 0; }
	.entry ul li { list-style-type: disc; }
	.entry ul ul li { list-style-type: circle; }

	.entry ol  {margin: 0 0 1em 10px; padding-left: 20px;}
	.entry ol ol { margin: 0; }
	.entry  ol li  { list-style-type: decimal; }
	.entry  ol li ol li { list-style-type: lower-alpha; }	
	
	.entry .widget {border:none}
	.entry .widget ul,.entry .widget ol{margin-left:0;padding-left:10px}
	.entry .widget li { list-style-type: none; }
	
    .entry blockquote { background:url(../framework/images/blockquote_gray.gif) no-repeat 0 20px; padding: 10px 20px 10px 50px; color: #555;font-style:italic;margin-bottom:15px;}
    .entry blockquote p {font-style:italic;margin:5px 0;}  	
	
	/* WordPress Caption and image size for 2 column*/
	.entry .alignleft, .entry  .alignright, .entry  .aligncenter, .entry  .alignone,
	.wp-caption {max-width:100% !important;background:#ddd7cd;margin-bottom:10px}
	.wp-caption p.wp-caption-text {color:#555;font-size:12px}
	.wp-caption img {max-width:100%;height:auto}		
	
	.entry .postcredit{font-family:Georgia,Times,serif;font-style:italic;color:#999;margin-bottom:15px}
	.entry .postcredit a {color:#666}
	
	/* Post Author Bio Widget */
	.entry .gab_authorbadge {font:italic 13px/20px Georgia,Times,serif;padding:15px 0 1px;  margin-bottom:15px;  border-top:1px solid #efefef;  border-bottom:1px solid #efefef;  width:100%;  overflow:hidden}
	.entry .widgettitle {margin:0 0 7px !important;background:none;padding:0;font:normal 1.3em 'Oswald', arial, sans-serif;color:#333;width:100%;}
	.entry .gab_authorbadge p{float:left;width:auto;margin:0 12px 7px 0;}
	.entry .gab_authorbadge p a{border:none}
	
	.entry .posttags {text-align:right;display:block;width:auto;float:right;background: url(default/ico/ico_tags.png) no-repeat 0 5px; padding:3px 0 3px 22px}
	.entry .posttags a {color:#777}	
	
	/* WordPress Caption and image size for 3 column*/
	#col3page .entry .alignleft, 
	#col3page .entry .alignright,
	#col3page .entry .aligncenter, 
	#col3page .entry .alignone, 
	#col3page .wp-caption{max-width:96% !important;padding:2%;background:#ddd7cd;margin-bottom:10px}	
	#col3page .wp-caption img {max-width:100% !important;}	
	
	/* WordPress Caption and image size for full column*/
	#content.fullwidth {margin:0;padding:0;width:100%;border:none;display:block;overflow:hidden}
	#content.fullwidth .entry .alignleft, 
	#content.fullwidth .entry  .alignright,
	#content.fullwidth .entry  .aligncenter, 
	#content.fullwidth .entry  .alignone, 
	#content.fullwidth .wp-caption{max-width:970px !important;padding:5px;background:#ddd7cd;margin-bottom:10px}
	#content.fullwidth .wp-caption img {max-width:970px;height:auto}		
	
	/* We dont want to display caption below small gallery thumbs */
	.gallery .gallery-caption {display:none}				
	
	/* attachment page */
	.gab_attachmentpage #attachment-nav { background:#3d3d3d;overflow: hidden; width: auto; float: right; margin-bottom:15px}
	.gab_attachmentpage #attachment-nav .attachment-nav { padding: 4px; display: block; overflow: hidden; float: right; color: #ebebeb; }
	.gab_attachmentpage #attachment-nav .attachment-nav a { color:#eee }
	.gab_attachmentpage #attachment-nav .attachment-nav a:hover { color:#fff }
	
	.gab_attachmentpage .attachment-full {margin-bottom:20px !important}
	.gab_attachmentpage .gab_attc_thumbwrap {float:left;display:block;line-height:0;width:33%;margin:0 0 20px}
	.gab_attachmentpage .gab_attc_thumbwrap img {border:2px solid #cccabb}
	.gab_attachmentpage .fb_ltr{ margin-top: 30px; overflow: hidden; height: 135px !important; }	
	
	
/*----- ={ COMMENT FORM } -----*/
	/* Comments list */
	#comments { margin: 23px 0; }
	#comments #comments-title { margin-bottom: 25px; }
	
	/* Comment box size for 2 column */
	#comments .commentlist { clear: both; width: 630px; margin-left:10px; }
	#comments .depth-1 {margin-bottom:15px}
	#comments .depth-1 .children {width:588px;margin-left:25px;padding: 1em 0 1px 1em;}
	#comments .depth-2 .children {width:563px}
	#comments .depth-3 .children {width:538px}
	#comments .depth-4 .children {width:513px}
	#comments .depth-5 .children {width:488px}
	#comments .depth-6 .children {width:463px}
	#comments .depth-7 .children {width:438px}
	#comments .depth-8 .children {width:403px}
	#comments .depth-9 .children {width:388px}
	#comments .depth-10 .children {width:363px}
	/* ******************************** */
	
	/* Comment box size for 3 column */
	#col3page #comments .commentlist { clear: both; width: 465px; margin-left:10px; }
	#col3page #comments .depth-1 {margin-bottom:15px}
	#col3page #comments .depth-1 .children {width:423px;margin-left:25px;padding: 1em 0 1px 1em;}
	#col3page #comments .depth-2 .children {width:398px}
	#col3page #comments .depth-3 .children {width:373px}
	#col3page #comments .depth-4 .children {width:348px}
	#col3page #comments .depth-5 .children {width:323px}
	#col3page #comments .depth-6 .children {width:298px}
	#col3page #comments .depth-7 .children {width:273px}
	#col3page #comments .depth-8 .children {width:248px}
	#col3page #comments .depth-9 .children {width:223px}
	#col3page #comments .depth-10 .children {width:198px}
	/* ******************************** */
	
	/* Comment list box size for full column */
	#content.fullwidth #comments .commentlist { clear: both; width: 970px; margin-left:10px; }
	#content.fullwidth #comments .depth-1 {margin-bottom:15px}
	#content.fullwidth #comments .depth-1 .children {width:928px;margin-left:25px;padding: 1em 0 1px 1em;}
	#content.fullwidth #comments .depth-2 .children {width:903px}
	#content.fullwidth #comments .depth-3 .children {width:878px}
	#content.fullwidth #comments .depth-4 .children {width:853px}
	#content.fullwidth #comments .depth-5 .children {width:828px}
	#content.fullwidth #comments .depth-6 .children {width:803px}
	#content.fullwidth #comments .depth-7 .children {width:778px}
	#content.fullwidth #comments .depth-8 .children {width:753px}
	#content.fullwidth #comments .depth-9 .children {width:728px}
	#content.fullwidth #comments .depth-10 .children {width:703px}
	/* ******************************** */	
	
	#comments .children .children{ padding:0; border: none;}
	#comments .comment-inner { margin-bottom: 10px; border: 1px solid #ddd; padding: 1em 1em 10px 25px;position:relative }
	#comments .children .comment-inner {border-color:#efefef;}
	#comments .comment-top {overflow:hidden;margin-bottom:10px}
	#comments .comment-avatar { float: left;width:auto;margin-right:10px }
	#comments .commentmeta { float: left;width:auto; }
	#comments .commentmeta p { margin: 0; }
	
	#comments .fn { font-weight: bold; display:block;margin:2px 0 0.2em}
	#comments .text p{margin:7px 0 }
	#comments .reply { position: absolute; left: -11px;bottom:7px; display: block; width: 237px; height: 20px; }
	#comments .reply a { display: block; width: 37px; height: 20px; text-indent: -999em; background: url('green/reply.png') no-repeat 0 0;float:left }
	#comments .reply a:hover { background: url('green/reply.png') no-repeat bottom left; }	

	/* Comment Form */
	/* Commen form box size for 2 column */
	#respond {background-color: #fafafa; padding:20px;width:598px;overflow: hidden; border: 1px solid #e7e7e7; clear:both; margin:0}	
	/* Commen form box size for 3 column */
	#col3page #respond {width:433px;}
	/* Commen form box size for full column */
	#content.fullwidth #respond {width:938px;}
	/* *************** */
	
	li #respond {margin:0 0 1em 0;width:90%}
	#respond  form { overflow: hidden; }
	#respond  form input, #respond  form textarea {color: #222;}
	#respond h3 { font:normal 1.3em 'Oswald', arial, sans-serif;color:#333; margin: 0 0 10px;} 
	#respond .comment-notes { font-size: 9pt; margin-bottom: 10px; }
	#respond .comment-notes .required  { display:none}
	#respond p { margin: 0.3em 0 0.5em; overflow:hidden;position:relative;}
	#respond p label { text-align: left; font-weight: bold; font-size: 10pt; width: 65px; display: block; float: left; margin: 13px 0 0; }
	#respond p .required { float: right; }
	#respond p input, #respond p textarea{float:left;border: 1px solid #efefef;background:#F5F6F7;width: 70%; height: 30px; padding: 0 10px; margin-left: 1em; overflow: hidden; }
	#respond p textarea{height:200px;padding:10px}
	#respond .comment-form-comment label{ padding-top: 7px; }
	#respond #cancel-comment-reply-link {display:block;font-size:14px;line-height:24px}
	#respond #comment-msg { font-size: 9pt; font-style: italic; }
	#respond .form-allowed-tags { clear:both;display:block; margin-top: 0;font-size:13px;font-style:italic;color:#888 }
	#respond .form-submit { display:block;margin-top:15px}
	#respond .form-submit #submit {margin-left:0;color:#666;background:#efefef;font-size:13px;font-weight: bold; text-align: center; width: 167px;height:40px;cursor:pointer;border:1px solid #efefef}
	#respond .form-submit #submit:hover {background:#9abd57;color:#fff;text-shadow:none}
	#respond .required {background: url(green/reguired.png) no-repeat 0 0; width: 21px; height: 21px; text-indent: -999em; display: block;position:absolute;right:0;top:13px}
	#respond .comment-notes .required { background-position: 0 0; }
	li #respond {margin-bottom:15px}	
	
/*----- ={ Numbered Pagination - removed curved corners } -----*/	
.numbered-pagination,.numbered-pagination span,.numbered-pagination span.current,.numbered-pagination a.inactive,.numbered-pagination a:hover.pagi-last, .numbered-pagination a:hover.inactive,.numbered-pagination a:hover.pagi-next,.numbered-pagination a:hover.pagi-first,.numbered-pagination a:hover.pagi-prev,.gab_authorbadge {border-radius: 0;}
	
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: normal;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v3/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: local('Oswald '), local('Oswald'), url('http://themes.googleusercontent.com/static/fonts/oswald/v5/-g5pDUSRgvxvOl5u-a_WHw.woff') format('woff');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url('http://themes.googleusercontent.com/static/fonts/oleoscript/v1/_weQNDK6Uf40CiGFKBBUjobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

@media (max-width: 768px) { 

/* GLOBAL FOR ALL RESOLUTIONS BELOW 768*/ 
	/* Set wrapper width to 100% */
	.wrapper {width:100%;margin:0 auto;width:auto !important}

	/* Hide the header ads to cause any busy layout for mobile browser */
	.headerad728, .headerad234 {display:none}	

	/*fluid images*/
	img {width:100%;height:auto;}

	/* other stuff */
	.alignleft,.alignright,.aligncenter {border:none !important}
	.widgettitle,.posttitle{font-size:15px;line-height:16px;margin:0 0 0.3em;}
	.gab_video_widget{display:none}
	.tabs a {width:auto;padding:5px}	
	.right-2col .banner {display:none}
	.belowmenu {display:block;margin-bottom:9px;}
	.galleries_list {overflow:hidden;margin-bottom:0px;padding-left:5px}

	/* Featured slider size changes */
	#featured-rightcol {display:none;}

	#featured-leftcol {width:94%;margin-left:3%}
	#featured-slider .item {width:90%;}
	#featured-slider .item .slidemedia {display:block;width:40%;height:200px;float:left;background:none}
	#featured-slider .item .slidemedia img {width:100%}
	#featured-slider .slidetext {float:left;width:50%;}
	#featured-slider .slidetext h2.posttitle {font-size:19px;line-height:22px;margin:0 0 1em;}
	
	#col3page .leftcol {display:none}
	#col3page .midcol {width:100%}
	
	#content.fullwidth .entry .alignleft, 
	#content.fullwidth .entry  .alignright,
	#content.fullwidth .entry  .aligncenter, 
	#content.fullwidth .entry  .alignone, 
	#content.fullwidth .wp-caption{max-width:100% !important;}
	
	/* Comment box size adjustment */
	#comments .commentlist { clear: both; width: 100%; margin-left:5%; }
	#comments .depth-1 .children {width:96%;margin-left:0;padding: 2% 0 1px 2%;}
	#comments .comment-inner { margin-bottom: 10px; border: none; padding: 0 0 10px 25px;}
	#comments .depth-2 .children,
	#comments .depth-3 .children,
	#comments .depth-4 .children,
	#comments .depth-5 .children,
	#comments .depth-6 .children,
	#comments .depth-7 .children,
	#comments .depth-8 .children,
	#comments .depth-9 .children,
	#comments .depth-10 .children {width:100%}
	#respond {width:96%;padding:2%}
}
@media (min-width: 431px) and (max-width: 768px) {
	/* Redefine generic elements */
	body{font:13px Arial, Helvetica, sans-serif;line-height:17px;}
	
	.catname{font-size:13px;line-height:16px;margin:0 0 0.3em;}
	.s_title,.list_title{font-size:13px;line-height:16px;margin:0 0 0.3em;}
	.galleries_list {overflow:hidden;margin-bottom:0px;padding-left:5px}	
	
	/* Featured Nav */
	#nav {width:98%;margin-top:0.3em;min-height:76px;overflow:hidden;background:url(green/bg-nav.png) repeat;padding:12px 0 0 1em}
	#nav li {width:13%;height:75%;margin-right:4%;}

	#homecontent,#homecontent .wrapper {background:none;width:98%;padding-right:1%;padding-left:1%}
	#homecontent .leftcol {width:35%;margin:0;float:left;padding:0;}
	#homecontent .midcol {width:62%;margin:0;float:right;padding:0;}
	#homecontent .midcol .col {width:48%;}
	#homecontent .midcol .col .alignleft {float:none;margin:0 0 7px}
	#homecontent #bottom-slider {width:98%;height:200px;border:1% solid #cccabb}
	#homecontent #bottom-slider .item,#homecontent #bottom-slider .item img {width:100%;height:200px;}
	#homecontent #bottom-slider .slidetext {width:94%;padding:2% 3%}
	#homecontent #bottom-slider .slidetext h2.posttitle {font-size:11px;line-height:12px;}
	#homecontent .rightcol {width:100%;margin:0;clear:left}
	#homecontent .rightcol .postcontainer {float:left;width:18%;margin-right:2%}

	/* Magazine style archive page - The reason of why the styles below are not combined with #homecontent, is because we wanted to give you an easy way to update CSS for indivudal sections */
	#magcontent {background:none;}

	/* Adjust top 2 big post to fit into resolution of browser */	
	#magcontent .bigpost {width:45%;padding:1%;}
		
	/* Setup three blocks below big two posts to fit into browser */	
	#magcontent .leftcol {display:none}
	#magcontent .midcol {width:62%;margin:0;float:left;padding: 25px 0 20px;}	
	#magcontent .midcol .col {width:48%;}		
	#magcontent .rightcol {width:35%;margin:0;float:right}
	#magcontent .rightcol .widget {width:100%;} 
	
	#magcontent #bottom-slider {width:98%;height:200px;border:1% solid #cccabb}
	#magcontent #bottom-slider .item,#magcontent #bottom-slider .item img {width:100%;height:200px;}
	#magcontent #bottom-slider .slidetext {width:94%;padding:2% 3%}
	#magcontent #bottom-slider .slidetext h2.posttitle {font-size:11px;line-height:12px;}
	
	.postexcerpt {display:none}
	#content,#col3page{width:64%;}
	#sidebar {width:30%;}
	#sidebar .widget,#sidebar .widgetinner {width:100%;border:0;padding:0}
	#sidebar .widgettitle {margin:0 0 10px;background:none;padding:0;font-size:1em;letter-spacing: 0.2px;color:#222}
	#content img,#col3page img, #sidebar img{max-width:100% !important;width:auto;height:auto;padding:0 !important}

	#two-column .entry {width:45%;}
	#gab_gallery .media-wrapper {width:30%;margin-right:3%;}
	
	#footer_data .wrapper {font-size:11px}
	#footer-left-side {display:block;float:none;margin:0 0 0.3em}
	#footer-right-side {display:block;float:none;text-align:left}	
	#footer {display:none}		
}

/* Lets keep going on with responsive styling for smaller resolutions */

@media (max-width: 430px) {
	/* Redefine generic elements */
	body{font:12px Arial, Helvetica, sans-serif;line-height:16px;}

	.s_title,.list_title{font-size:15px;line-height:16px;margin:0 0 0.3em;}

	/* Move search box below logo */
	.logo {padding:0 0 10px !important}
	.right-2col {margin:0 0 0 6px !important;width:100%;float:left;}	
	
	/* navigation adjustments */
	.mainnav li a,.footernav li  a{font-size:12px;padding: 8px 7px;}
	.mainnav li ul,.galleries_list li ul,.footernav li ul {display:none}

	/* Featured slider size changes */
	#featured_posts {height:237px !important;}	
	#featured-leftcol {height:227px;background:none !important}
	#featured-slider {height:171px;}
	#featured-slider .item {height:141px;padding-top:5px}
	#featured-slider .item .slidemedia {display:none}
	#featured-slider .slidetext {float:right;width:100%;}
	#featured-slider .slidetext h2.posttitle {font-size:15px;line-height:17px;margin:0 0 1em;}	
	#nav {width:96%;margin-top:0.3em;height:40px;overflow:hidden;background:url(green/bg-nav.png) repeat;padding:12px 0 0 1em}
	#nav li a img {border-width:2px}
	#nav li {width:11%;height:55%;margin-right:6%;}
	
	#homecontent .midcol,#homecontent .leftcol,#homecontent .rightcol {width:90%;padding:0 5%;margin:0}
	#homecontent .midcol {margin-bottom:15px}
	#homecontent .midcol .col {width:48%;}
	#homecontent .midcol .col .alignleft {float:none;margin:0 0 7px}
	#homecontent #bottom-slider {width:98%;height:150px;border:1% solid #cccabb}
	#homecontent #bottom-slider .item, #homecontent #bottom-slider .item img{width:100%;height:150px;}
	#homecontent #bottom-slider .slidetext {width:94%;padding:2% 3%}
	#homecontent #bottom-slider .slidetext h2.posttitle {font-size:11px;line-height:12px;}
	
	#magcontent .bigpost {width:98%;padding:1%;margin-bottom:1em}
	#magcontent .midcol,#magcontent .leftcol,#magcontent .rightcol {width:90%;padding:0 5%;margin:0}
	#magcontent .midcol {margin-bottom:15px}
	#magcontent .midcol .col {width:48%;}
	#magcontent .midcol .col .alignleft {float:none;margin:0 0 7px}
	#magcontent .midcol .homepagead {display:none}
	#magcontent #bottom-slider {width:98%;height:150px;border:1% solid #cccabb}
	#magcontent #bottom-slider .item, #magcontent #bottom-slider .item img{width:100%;height:150px;}
	#magcontent #bottom-slider .slidetext {width:94%;padding:2% 3%}
	#magcontent #bottom-slider .slidetext h2.posttitle {font-size:11px;line-height:12px;}
	
	
	#col3page, #content, #sidebar {width:90%;padding:0 5%;}
	#sidebar .widget,#sidebar .widgetinner {width:100%;border:0;padding:0}
	#sidebar .widgettitle {margin:0 0 10px;background:none;padding:0;font-size:1em;letter-spacing: 0.2px;color:#222}
	#content img,#col3page img,#sidebar img{max-width:100% !important;width:auto;height:auto;padding:0 !important}
	
	#two-column .entry {width:100%;}
	#gab_gallery .media-wrapper {width:90%;margin:0 5%;}
	
	#footer .wrapper {width:100%}
	.footer1 {float:none;width:90%;padding-right:0 5%}
	.footer1 .coverimg {margin:0 auto;}
	.footerinner {padding:5%;background:#fff;width:90%;float:none;}
		.footer2 {width:45%;float:left;padding-right:0;border-right:none;margin-right:0}
		.footer3 {width:45%;float:right;padding-right:0;border-right:none;margin-right:0}
		.footer4 {clear:left;width:45%;float:left;padding-right:0;border-right:none;margin-right:0}
		.footer5 {width:45%;float:right}
	#footer_data .wrapper {font-size:11px}
	#footer-left-side {display:block;float:none;margin:0 0 0.3em}
	#footer-right-side {display:block;float:none;text-align:left}	
}