/*   
Theme Name: Arts and Culture
Version: 1.5
Theme URI: http://www.gabfirethemes.com/
Description: Designed by <a href="http://www.gabfirethemes.com">Gabfire Themes</a> | <a href="http://www.gabfirethemes.com/category/themes/"> See All Themes</a> 
Author: Gabfire Themes
Author URI: http://www.gabfirethemes.com
MD5: b0770d062bbca0572783f15503be37ac
Tags: Magazine, Portfolio
*/

/*
	This file contains main CSS structure of theme. Do not change anything below
	unless it is necessary or you are aware of what you are doing
	
	To customize theme rename custom.dist.css to custom.css, copy css code
	from this file into custom.css and edit it.
*/

/* Reset */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
ol, ul {list-style:none;}
li {line-height:120%;}
dt { font-weight: bold; text-decoration: underline; } dd { margin: 0; padding: 0 0 0.5em 0; }

/*----- ={ Headings } -----*/
h1 a, h2 a ,h3 a, h4 a, h5 a, h6 a { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {margin:0;line-height:1;}
h1 { font-size:30px; }
h2 { font-size:23px; }
h3 { font-size:20px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }

/*----- [[ Theme Table ]] -----*/
.theme-table {width: 100%;margin-bottom:20px}
	.theme-table caption {	color: #222;font-size: 14px;font-weight: bold;padding-bottom: 4px;text-align: left;}
	.theme-table thead {font-size: 12px;}
	.theme-table thead th {text-align:center;background:#ddd;border: 1px solid #fff;padding: 3px 0 2px;}
	.theme-table tbody {color: #888;}
	.theme-table tbody td {background: #f5f5f5;border: 1px solid #fff;padding: 3px 0 2px;text-align: center;}
	.theme-table tbody .pad {background: none;}
	
/*----- [[ Postmeta ]] -----*/
.postmeta {font-style:italic !important;font-size:11px !important;text-align:right !important;margin:5px 0 0 !important;clear:both;display:block;}
.postmeta a {text-decoration:none !important}
.postmeta a:hover {text-decoration:underline !important}
.postmeta span {display:inline;padding-left:7px;margin-left:5px;background: url(framework/images/circ3.png) no-repeat left center}
.postmeta span.meta_date {display:inline;padding-left:0;background:none}
	
/* -------------------------------------------------------------- 
	NAVIGATION
	Navigation is a two part code. 
	- The structure/bone (which is coded below in this file)
	- The appeareance (appeareance, which can be found an edited in styles/active style file)
-------------------------------------------------------------- */
/* =Navigation. The navigation can be considered in two parts. The first part is the 
-------------------------------------------------------------- */
	.dropdown a  	{ display:block; z-index:100;}
	.dropdown li li.current_page_item,
	.dropdown li li.current-cat { background:none; }
	.dropdown li  {width: auto;list-style:none; }
	.dropdown li a.sf-with-ul 	{ padding-right:20px;}
	.dropdown li ul li a 	{ }
	.dropdown a, .dropdown  li.current-cat-parent a, .dropdown li.current-cat a, .dropdown li.current_page_item, .dropdown li.current_page_parent, .dropdown li.current-menu-ancestor, .dropdown li.current-menu-item, .dropdown li.sfHover { }
	/* =Drop-down menus  */
	.dropdown li ul  { position: absolute; left: -999em; z-index:99999; }
	.dropdown li:hover,.dropdown li.hover  { position:static; }
	.dropdown li:hover ul ul, .dropdown li.sfhover ul ul,.dropdown li:hover ul ul ul ul, .dropdown li.sfhover ul ul ul ul,.dropdown li:hover ul ul ul ul ul, .dropdown li.sfhover ul ul u ull ul { left:-999em; }
	.dropdown li:hover ul, .dropdown li.sfhover ul,.dropdown li li:hover ul, .dropdown li li.sfhover ul,.dropdown li li li:hover ul, .dropdown li li li.sfhover ul,.dropdown li li li li:hover ul, .dropdown li li li li.sfhover ul,.dropdown li li li li li:hover ul, .dropdown li li li li li.sfhover ul  { left:auto; }

/* -------------------------------------------------------------- 
	THEME WIDGETS
-------------------------------------------------------------- */
/*----- [[ Global Widgets ]] -----*/
.widget {margin:0 0 25px;}
	.widget .widget {width:auto !important;margin:0 !important}
	.widgettitle {margin:0;padding:0 0 10px;font: bold 14px Arial,Helvetica,sans-serif;color:#555;}
	.widget p{margin-bottom:10px;}
	.widget ul {clear:both;padding-left:5px;list-style-position:inside;list-style-type:disc;}
	.widget ul li {border-bottom:1px dotted #ddd;padding-bottom:8px;margin-bottom:7px;}
	.widget ul ul {padding:0 0 0 15px;border-top:none}
	.widget select {border:1px solid #ddd;}
	.widget form, .widget fieldset {margin:0;}
	.widget img {display:block;}
	.widgetname {display:block;padding:10px;background:#333;color:#fff;text-transform:uppercase;margin:10px 0;text-align:center;font-weight:bold;}

/*----- [[ Tag Cloud Widget ]] -----*/
#wp_tag_cloud div {line-height: 1.6em;}

/*----- [[ Related Posts ]] -----*/
.gab_relatedposts {display:block;overflow:hidden;margin:0 0 15px;width:100%;}
.gab_relateditem {float:left;padding:1%;text-align:center} /* Width defined as % within framework/functions/gabfire-widgets.php file */
.gab_relateditem img {border:none !important; padding:none !important; margin:0 auto 7px;width:100%;height:auto;}

/*----- [[ Archive Widget ]] -----*/
.arc-dropdown {margin-bottom:7px;}
.arc-dropdown select {width:98%;margin:0 0 5px;padding:2px;color:#444}
.archive_span {display:block;margin-bottom:3px;}
.google {width:95%;padding:3px 5px;margin-bottom:0;border:1px solid #ddd;}

/*----- [[ Calendar Widget ]] -----*/
#wp-calendar {width: 100%;}
	#wp-calendar caption {	color: #222;font-size: 14px;font-weight: bold;padding-bottom: 4px;text-align: left;}
	#wp-calendar thead {font-size: 11px;}
	#wp-calendar thead th {text-align:center;}
	#wp-calendar tbody {color: #aaa;}
	#wp-calendar tbody td {background: #f5f5f5;border: 1px solid #fff;padding: 3px 0 2px;text-align: center;}
	#wp-calendar tbody .pad {background: none;}
	#wp-calendar tfoot #next {text-align: right;}

/*----- [[ Gabfire Tabs ]] -----*/
.tabs {list-style:none;margin:0;padding-left:5px;height:33px;font-size:12px;}
.tabs li {float:left;padding:0 !important;margin:0 !important;list-style:none !important;border:0 !important;background:none !important;}
.tabs a {display:block;line-height:31px;height: 31px;font-weight: bold;width: 96px;text-align:center;text-decoration:none;padding:2px 0 0 0;margin:0 -1px 0 0;position:relative;top:-1px!important;}
.tabs a:active {outline:none;}
.tabs a:hover {background-position: 0 -34px;text-decoration:none !important;}
.tabs .current, .tabs .current:hover, .tabs li.current a {top:-5px!important;height:36px;cursor:default !important;}

.panes div {padding:15px 10px 15px 10px !important;}
.panes div div{padding:0;border:none !important;}	
.panes li span.block {display:block;font-size:11px;padding-top:3px}
.panes li {list-style:none!important;text-indent:0!important;overflow:hidden;}
.panes li img {float:left;margin:2px 8px 0 0;}
.panes .widget_recent_comments { padding:0 !important; }
.panes .widget_recent_comments li { line-height:1.6em !important; padding-bottom: 12px !important; }
.panes .widgettitle_in {margin:0 0 7px;font:bold 14px sans-serif;display:block; }
	/*----- [[ Tab color scheme: light ]] -----*/
	#light_cs {color:#222}
	#light_cs .tabs {border-bottom:1px solid #cfcfcf;margin:0}
	#light_cs .tabs a { background: none #F2F2F2  !important;border:1px solid #cfcfcf!important;color:#222 !important;}
	#light_cs .tabs a:hover {color:#222;}
	#light_cs .tabs .current, .tabs .current:hover, .tabs li.current a {background-color:#fff !important;color:#222 !important;border-bottom:none!important;}
	#light_cs .panes div {background-color:#fff!important;border:1px solid #cfcfcf !important;border-top:none!important;}
	#light_cs .panes li {border-bottom:1px dotted #efefef !important}
	#light_cs .panes li  a {color:#222 !important}
	
	/*----- [[ Tab color scheme: dark ]] -----*/
	#dark_cs {color:#eee;margin:0}
	#dark_cs .tabs {border-bottom:1px solid #666;}
	#dark_cs .tabs a { background: none #333 !important;border:1px solid #666!important;color:#999 !important;}
	#dark_cs .tabs a:hover {color:#333;}
	#dark_cs .tabs .current, .tabs .current:hover, .tabs li.current a {background-color:#444 !important;color:#efefef !important;border-bottom:none!important;}
	#dark_cs .panes div {background-color:#444!important;border:1px solid #666 !important;border-top:none!important;}
	#dark_cs .panes li {border-bottom:1px dotted #3a3a3a !important}
	#dark_cs .panes li  a {color:#efefef !important}

/*----- [[ Search Widget ]] -----*/
form.gab_search_style1{margin:0;padding:0;border:none;}
	form.gab_search_style1 fieldset {padding:0;}
	form.gab_search_style1 .text {margin:0;border:none;}
	form.gab_search_style1 .submit_style1 {float:right;padding:5px 5px 0 0;display:inline;}
	
form.gab_search_style2 fieldset{margin:0;padding:0;border:none;width:300px;height:30px}
	form.gab_search_style2 p {margin:0}
	form.gab_search_style2 .text{float:right;padding:0;background:none;border:0;width:225px;margin:7px 40px 0 5px;color:#7c7a7a;font:14px arial, verdana, sans-serif;}
	form.gab_search_style2 .submit_style2{float:left;padding:0;width:17px;cursor:pointer;height:17px;margin:7px 0 0 8px}	
		
/*----- [[ RSS Widget ]] -----*/
.widget_rss a.rsswidget {color: #000;}
	.widget_rss a.rsswidget:hover {color: #ff4b33;}
	.widget_rss .widget-title img {width: 11px;height: 11px;}	
	
/*----- [[ Feedburner Widget ]] -----*/
.feedburner_widget {	}
	.feedburner_widget fieldset {border:1px solid #ddd;padding:0;}
	.feedburner_widget .text {margin:0;border:none;}
	.feedburner_widget .feedburner_submit {float:right;padding:5px 7px 0 0;display:inline;}
	
/*----- [[ About Widget ]] -----*/
.widget_avatar {float:left;margin:4px 10px 0 0;padding:2px;}
	.widget_avatar img {display:block;}
	.about_more {display:block;text-align:right;}

/*----- [[ Twitter Widget ]] -----*/
.twitter_link {display:block;text-align:right;}

/*----- [[ Flickr Widget ]] -----*/
.flickr_widget img{float:left;margin:9px;padding:2px;border:1px solid #ddd;background:#fff;display:inline;}

/*----- [[ Socilaize Widget ]] -----*/
.gab_social_widget a{ width: 48px; height: 48px; float:left;margin:3px;display:inline;text-indent:-999em;}
.gab_social_widget a.facebook{ background: url(framework/images/social/facebook.png);}
.gab_social_widget a.twitter{ background: url(framework/images/social/twitter.png);}
.gab_social_widget a.feed{ background: url(framework/images/social/feed.png);}
.gab_social_widget a.myspace{ background: url(framework/images/social/myspace.png);}
.gab_social_widget a.plus1{ background: url(framework/images/social/plus1.png);}
.gab_social_widget a.picasa{ background: url(framework/images/social/picasa.png);}
.gab_social_widget a.flickr{ background: url(framework/images/social/flickr.png);}
.gab_social_widget a.lastfm{ background: url(framework/images/social/lastfm.png);}
.gab_social_widget a.linkedin{ background: url(framework/images/social/linkedin.png);}
.gab_social_widget a.youtube{ background: url(framework/images/social/youtube.png);}
.gab_social_widget a.vimeo{ background: url(framework/images/social/vimeo.png);}
.gab_social_widget a.delicious{ background: url(framework/images/social/delicious.png);}
.gab_social_widget a.stumbleupon{ background: url(framework/images/social/stumbleupon.png);}
.gab_social_widget a.deviantart{ background: url(framework/images/social/deviantart.png);}
.gab_social_widget a.digg{ background: url(framework/images/social/digg.png);}
.gab_social_widget a.foursquare{ background: url(framework/images/social/foursquare.png);}
.gab_social_widget a:link{background-position: bottom left;}
.gab_social_widget a:hover{background-position: top left;}

/*----- [[ Share Widget ]] -----*/
.gab_share_widget {padding-bottom:5px;margin-bottom:5px;display:block;}
	/* Share buttons below post */
	.gab_share_buttons {width:100%;display:block;height:38px;}
	.gab_share_buttons:after {clear: both;content: '.';display: block;height: 0;overflow: hidden;visibility: hidden;}
		.google-share-button {float:left;width:105px;margin-top:1px}
		.twitter-share-button {float:left;width:95px;margin-top:1px}
		.facebook-share-button {float:left;width:90px;margin-top:1px}
		.pinterest-share-button {float:left;width:auto;}	
	
	.gab_share_widget a{ width: 32px; height: 32px; float:left;margin:2px 4px 0 0;display:inline;text-indent:-999em;}
	.gab_share_widget a.facebook{ background: url(framework/images/share/facebook.png);}
	.gab_share_widget a.plus1{ background: url(framework/images/share/plus1.png);}
	.gab_share_widget a.twitter{ background: url(framework/images/share/twitter.png);}
	.gab_share_widget a.email{ background: url(framework/images/share/email.png);}
	.gab_share_widget a.delicious{ background: url(framework/images/share/delicious.png);}
	.gab_share_widget a.digg{ background: url(framework/images/share/digg.png);}
	.gab_share_widget a.google2{ background: url(framework/images/share/google.png);}
	.gab_share_widget a.stumbleupon{ background: url(framework/images/share/stumbleupon.png);}
	.gab_share_widget a.reddit{ background: url(framework/images/share/reddit.png);}
	.gab_share_widget a.technorati{ background: url(framework/images/share/technorati.png);}
	.gab_share_widget a.yahoo{ background: url(framework/images/share/yahoo.png);}
	.gab_share_widget a.blogger{ background: url(framework/images/share/blogger.png);}
	.gab_share_widget a.myspace{ background: url(framework/images/share/myspace.png);}
	.gab_share_widget a.rss{ background: url(framework/images/share/rss.png);}
	.gab_share_widget a:link{background-position: bottom left;}
	.gab_share_widget a:hover{background-position: top left;}

/*----- [[ Author Badge Widget ]] -----*/
	.gab_authorbadge {padding:14px 14px 5px 14px;background:#f5f6f7;margin:0;border:1px solid #ddd;overflow:hidden;border-radius: 7px;}
	.gab_authorbadge img {float:left;margin:3px 7px 4px 0 !important;color:#666}
	.gab_authorbadge .author_social {display:list-item;font-size:14px;line-height:19px;list-style:none;padding:3px 0 3px 24px;border-bottom:1px dotted #ddd}
	.gab_authorbadge .t_link {background:url(framework/images/ico/ico_twitter.png) no-repeat 2px 3px;}
	.gab_authorbadge .f_link {background:url(framework/images/ico/ico_facebook.png) no-repeat 2px 3px;}
	.gab_authorbadge .g_link {background:url(framework/images/ico/ico_gplus.png) no-repeat 2px 3px;}
	.gab_authorbadge .w_link {background:url(framework/images/ico/ico_home.png) no-repeat 2px 3px;}
	.gab_authorbadge .a_link {background:url(framework/images/ico/ico_all.png) no-repeat 2px 3px;}
	.gab_authorbadge .authorstweets {margin-top:15px}
	.gab_authorbadge p {overflow:hidden} 

	.video-widget {width:280px;height:100%;padding:5px 9px 9px !important;border:1px solid #ddd !important;}
	.video-widget .media {display:block;line-height:0}
	.video-widget .posttitle{display:block;text-align:center}
	
	/* Navigation of featured slider */
	.video-slider-nav{overflow:hidden;padding-top:3px}
	.video-slider-nav a.vid_prev {float:right;margin:5px 5px 0 0;background:url(framework/images/bw-navi.png) no-repeat left top;width:16px;height:16px;display:block;text-indent:-999em;}
	.video-slider-nav a:hover.vid_prev {background:url(framework/images/bw-navi.png) no-repeat left bottom;width:16px;height:16px;display:block;}
	.video-slider-nav a.vid_next {float:right;margin-top:5px;background:url(framework/images/bw-navi.png) no-repeat right top;width:16px;height:16px;display:block;text-indent:-999em;}
	.video-slider-nav a:hover.vid_next {background:url(framework/images/bw-navi.png) no-repeat right bottom;width:16px;height:16px;display:block;}	
			
	.expandvid {float:left;margin:6px 4px 0 2px;}
	
	/* Navigation of featured slider */
	.vid-widget-nav {float:left;text-align:center;width:auto;line-height:0;margin-top:7px;}
	.vid-widget-nav a {float:left;width:10px;margin:0 0 0 6px;text-indent:-999em;height:10px;background:url(framework/images/bgr_slider_navgray.png) no-repeat -17px 0;}
	.vid-widget-nav a.activeSlide {background-position: 0 0;}
	.vid-widget-nav a:hover{background-position:0 0;}

/*----- [[ universal image classes ]] -----*/
	.alignleft,#content img.alignleft {display: inline;float: left;margin-right: 10px;margin-top: 4px;}
	.alignright,#content img.alignright {display: inline;float: right;margin-left: 10px;margin-top: 4px;}
	.aligncenter,#content img.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;margin-bottom:7px;}
	img.alignleft,#content img.alignright,#content img.aligncenter {margin-bottom: 8px;}
	.wp-caption {background: #f1f1f1;text-align: center;overflow:hidden;}
	.wp-caption p.wp-caption-text {font:13px/18px georgia, sans-serif;color: #777;margin:7px 0 0;}
	.wp-smiley {margin: 0;}
	.gallery {margin: 0 auto 18px;}
	.gallery .gallery-item {float: left;margin-top: 0;text-align: center;width: 33%;}
	.gallery img {border: 2px solid #cfcfcf;}
	.gallery .gallery-caption {color: #888;font-size: 12px;margin: 0 0 12px;}
	.gallery dl {margin: 0;}
	.gallery img {border: 10px solid #f1f1f1;}
	.gallery br+br {display: none;}
	.gab_attachmentpage img { /* single attachment images should be centered */display: block;margin: 0 auto;}

/*----- [[ Gallery ]] -----*/
.post .gallery {padding-bottom:15px;display:block;}

/* --------------------------------------------------------------
   FORMS
   * default styling for forms
   * Extra classes to enhance forms
   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)
-------------------------------------------------------------- */
/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label {font-weight:bold;cursor:pointer;}
fieldset {padding:0 14px 14px 14px;margin:0 0 15px 0;border:1px solid #aaa;}
legend {font-weight:bold;font-size:1.2em;margin-top:-2px;margin-bottom:10px;}
fieldset, #IE8#HACK {padding-top:14px;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}

/* Input Fields */
input.span-1, textarea.span-1,input.span-2, textarea.span-2,input.span-3, textarea.span-3 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:218px;}
input.span-2, textarea.span-2 {width:258px;}
input.span-3, textarea.span-3 {width:458px;}

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {padding:5px;}
input.title {font-size:15px;}
textarea {padding:5px;height:200px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}

/*----- [[ Success, info, notice and error/alert boxes and other mis classes ]] -----*/
.error, .alert, 
.notice, .success, 
.info 		{ padding:0.8em !important;margin-bottom:1em;border:2px solid #ddd; }
.error, 
.alert 		{ background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4; }
.notice 		{ background:#fff6bf;color:#514721;border-color:#ffd324; }
.success	{ background:#e6efc2;color:#264409;border-color:#c6d880; }
.info 		{ background:#d5edf8;color:#205791;border-color:#92cae4; }
.error a, 
.alert a 	{ color:#8a1f11;text-decoration:underline; }
.notice a	{ color:#514721;text-decoration:underline; }
.success a	{ color:#264409;text-decoration:underline; }
.info a 		{ color:#205791;text-decoration:underline; }

/* Border right with more whitespace */
.border_right_13 { padding-right: 6px; margin-right: 6px;border-right: 1px solid #ddd;}
.border_right_15 { padding-right: 7px; margin-right: 7px;border-right: 1px solid #ddd;}
.border_right_20 { padding-right: 10px; margin-right: 9px;border-right: 1px solid #ddd;}
.border_right_30 { padding-right: 15px; margin-right: 14px;border-right: 1px solid #ddd;}
.border_right_40 { padding-right: 20px; margin-right: 19px;border-right: 1px solid #ddd;}
/* Border left with more whitespace */
.border_left_15 { padding-left: 7px; margin-left: 7px;border-left: 1px solid #ddd;}
.border_left_20 { padding-left: 10px; margin-left: 9px;border-left: 1px solid #ddd;}
.border_left_30 { padding-left: 15px; margin-left: 14px;border-left: 1px solid #ddd;}
.border_left_40 { padding-left: 20px; margin-left: 19px;border-left: 1px solid #ddd;}
/* Border bottom with more whitespace */
.border_bottom_15 {padding-bottom:7px;margin-bottom:7px;border-bottom:1px solid #ddd;}
.border_bottom_20 {padding-bottom:10px;margin-bottom:9px;border-bottom:1px solid #ddd;}
.border_bottom_30 {padding-bottom:15px;margin-bottom:14px;border-bottom:1px solid #ddd;}
.border_bottom_40 {padding-bottom:20px;margin-bottom:19px;border-bottom:1px solid #ddd;}

/* Use a .box to create a padded box inside a column.  */
.box {padding:15px;margin-bottom:15px;background:#e5eCf9;}

/* Misc Classes */
.small_h	{ font-size: 18px; }
.small_text	{ font-size: 11px; }
.hide		{ display: none; }

.quiet		{ color: #666; }
.loud		{ color: #000; }
.highlight  	{ background:#ff0; }
.added		{ background:#060; color: #fff; }
.removed    	{ background:#900; color: #fff; }
.text-right	{ display:block;text-align:right;}

.first		{ margin-left:0; padding-left:0; }
.last	 	{ margin-right:0 !important; border:0 !important}
.top	  	{ margin-top:0; padding-top:0; }
.lastpost	 {border-bottom:none!important;padding-bottom:0 !important;margin-bottom:0!important;}

.left  		{ float: left !important; }
p .left		{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right 		{ float: right !important; }
p .right 	{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

.thumb 		{ padding:2px;border:1px solid #ddd;margin-bottom:5px;display:block;height:1%;overflow:hidden; }

.clear {clear:both;height:1px;display:block;}

/* -------------------------------------------------------------- 
   BUTTONS
   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element
-------------------------------------------------------------- */
a.button, button{ display:block;  float:left;  margin:0.7em 0.5em 0.7em 0;  padding:5px 10px 5px 7px;  /* Links */  border:1px solid #dedede;  border-top:1px solid #eee;  border-left:1px solid #eee;  background-color:#f5f5f5;  font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;  font-size:100%;  line-height:130%;  text-decoration:none; color:#565656;  cursor:pointer}
button{ width:auto;  overflow:visible;  padding:4px 10px 3px 7px;  /* IE6 */}
button[type]{ padding:4px 10px 4px 7px;  /* Firefox */ line-height:17px;  /* Safari */}
*:first-child+html button[type]{ padding:4px 10px 3px 7px;  /* IE7 */}
button img, a.button img{ margin:0 3px -3px 0 !important;  padding:0;  border:none;  width:16px;  height:16px;  float:none}

/* Button colors
-------------------------------------------------------------- */
/* Standard */
button:hover, 
	a.button:hover	{ background-color:#dff4ff;  border:1px solid #c2e1ef;  color:#369}
	a.button:active	{ background-color:#6299c5;  border:1px solid #6299c5;  color:#fff}

a.gab_button {font:bold 14px/22px arial, sans-serif !important;text-shadow:none;display:block;text-align:center;padding-top:11px;height:34px;width:200px;text-decoration: none;margin:15px 10px}		
	a.button-green {background: url(framework/images/button-generic.png) no-repeat 0 0;color: #fff;}
	a.button-green:active,a.button-green:hover {background: url(framework/images/button-generic.png) no-repeat 0 0;text-decoration:none;}
	a.button-red {background:  url(framework/images/button-generic.png) no-repeat 0 -45px;color: #fff;}
	a.button-red:active,a.button-red:hover {background: url(framework/images/button-generic.png) no-repeat 0 -45px;text-decoration:none;}
	a.button-gray {background:  url(framework/images/button-generic.png) no-repeat 0 -90px;color:#444 !important;}
	a.button-gray:active,a.button-gray:hover {background: url(framework/images/button-generic.png) no-repeat 0 -90px;text-decoration:none;}

/* Positive */
body .positive { color:#529214}
	a.positive:hover, 
	button.positive:hover { background-color:#E6EFC2;  border:1px solid #C6D880;  color:#529214}
	a.positive:active { background-color:#529214;  border:1px solid #529214;  color:#fff}

/* Negative */
body .negative { color:#d12f19}
	a.negative:hover, 
	button.negative:hover { background-color:#fbe3e4;  border:1px solid #fbc2c4;  color:#d12f19}
	a.negative:active { background-color:#d12f19;  border:1px solid #d12f19;  color:#fff}
	
/* Numbered-pagination */
.numbered-pagination { float: left; clear: both; margin-bottom: 20px; background-color: #f0f0f0; padding: 10px 7px 8px 6px;border-radius: 8px}
.numbered-pagination span{ margin: 0 5px; background-color: #e6e6e6; padding: 4px 7px;border-radius: 8px }
.numbered-pagination span.current{ background-color: #fff;;border-radius: 8px}
.numbered-pagination a, .attachment-nav a{ margin: 0 5px; padding: 4px 7px;}
.numbered-pagination a.inactive{text-decoration:none;border-radius: 8px; }
.numbered-pagination a.pagi-next{ }
.numbered-pagination a.pagi-last{ }
.numbered-pagination a:hover.inactive,
.numbered-pagination a:hover.pagi-next,
.numbered-pagination a:hover.pagi-first,
.numbered-pagination a:hover.pagi-prev,
.numbered-pagination a:hover.pagi-last { background-color: #fff;text-decoration:none;border-radius: 8px }